# Node modules
react-backend/node_modules/
react-ecommerce/node_modules/

# Environment variables
react-backend/.env
react-ecommerce/.env

# Build folders
react-ecommerce/dist/
react-backend/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/